<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBoZx-U6KhdEZlIAzUQq5dIJy9rctdmrx0</string>
	<key>GCM_SENDER_ID</key>
	<string>487788205071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itable.app.iTable</string>
	<key>PROJECT_ID</key>
	<string>itable-93411</string>
	<key>STORAGE_BUCKET</key>
	<string>itable-93411.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487788205071:ios:7886f58702b8ad28d0ff7a</string>
</dict>
</plist>